// Stylesheet Copyright (c) 2024 Jacob "Yeetsup" Hachè
// See <LICENSE> in the root folder of this repository
// Or at <http://fsf.org/licenses/agpl-3.0>

/*########################
  # GENERAL FORMAT/STYLE #
  ########################*/

// Font Variables

$sans-serif-lineup: Ubuntu, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$mono-lineup: "ubuntu mono", "courier new", monospace;




// SASS/CSS Code

a[href]{
  color: #667dff;
  transition: ease-out 0.1s;                 
  text-decoration: none;
  }

a[href]:hover{
    color: #052bff;
    transition: ease-in 0.1s;
    }

body{ 
     background-color: #ffffff;
     color: #000;
     font-family: $sans-serif-lineup;
     font-weight: 500;
    }

h1{
 font-weight: 700;
 text-align: left;
 font-family: $sans-serif-lineup;
 border-bottom: 2px solid #000;
 padding: 2px;
}

h3{
 font-weight: 700;
 text-align: center;
 font-family: $sans-serif-lineup;
 padding: 2px;
}

footer{
    margin-top: 600px;
    margin-bottom: 10px
    padding: 5px;
    border-top: 2px solid;
    border-color: inherit;
    text-align: center;
    
    }

img{
  padding: 5px;
  border: 1px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  font-family: $sans-serif-lineup;
  font-weight: 800;
  text-size: 32px;
  text-align: center;
  transition: ease-out 0.1s;
}

.logo:hover {
  color: #00fbff;
  text-size: 48px;
  font-weight: 900;
  transition: ease-in 0.1s;
}

// Meme posts

.memes img{
position: relative;
  left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}


.memes video {
  position: relative;
  left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.memes {
  display: block;
  border-radius: 2px;
  border: 1px solid #ffb69c;
  background-color: #5e1b00;
  color: #ffb69c;
}

// Back to our regularily scheduled program

.highvis {
  padding: none;
  display: block;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #ffb69c;
  background-color: #5e1b00;
  color: #ffb69c;
}

.highviscode {
  padding: none;
  display: block;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #ffb69c;
  background-color: #5e1b00;
  color: #ffb69c;
  font-family: "ubuntu mono", "courier new", monospace;
}

.bigfaterror{
font-size: 150px;
color: rgba(255, 90, 90, 0.8);
text-align: center;
font-weight: 700;
font-family: ubuntu mono, courier new, monospace;
border: none; 
}

.linkbar {
background-color: #000314;
border-radius: 2px;
border: 1px solid #8c92ff;
padding: 5px;  
transition: ease-out 0.1s;
}

.linkbar:hover {
background-color: #00020a;
border: 1px solid #c4c7ff;
transition: ease-in 0.1s;
}

.linkbar a{
  color: #8c92ff;
  transition: ease-out 0.1s;
}

.linkbar a:hover {
  color: #c4c7ff;
  transition: ease-in 0.1s;
}

.OPMESSAGE {
/*Only use OPERATOR MESSAGES for when you really fuk up*/
  padding: none;
  display: block;
  border-radius: 2px;
  border: 1px solid #ffbaba;
  background-color: #210000;
  color: #ffbaba;
  font-family: ubuntu mono, courier new, monospace;
}
